[submodule "libs/sub-lib-a"]
	path = libs/sub-lib-a
	url = https://github.com/ste-phil-c4b/sub-lib-a.git
	branch = feature/track-branches
[submodule "libs/sub-lib-b"]
	path = libs/sub-lib-b
	url = https://github.com/ste-phil-c4b/sub-lib-b.git
	branch = feature/track-branches